
header {
    background: rgba(0, 0, 0, 0.7);
    width: 99%;
    position: absolute;
    z-index: 100;
  }

  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  nav ul li:hover {
    background: #ac23ec;
  }